certifi==2018.11.29
numpy==1.15.4
pandas==0.24.1
patsy==0.5.1
python-dateutil==2.7.5
pytz==2018.9
scipy==1.2.0
six==1.12.0
statsmodels==0.9.0
matplotlib==3.0.2
pycountry==18.12.8
pycountry_convert==0.7.2
